{{!-- <ul class="post-list">
  <li> --}}
    {{#each posts as |post|}}
    <article class="post">
      <div class="title">
        <a href="/post/{{post.id}}">
          <h2>{{title}}</h2>
        </a>
        <span>by {{post.user.username}} on
        {{format_date post.created_at}}
        |
        <a href="/post/{{post.id}}">{{comments.length}} {{format_plural "comment" post.comments.length}}</a></span>
      </div>
      <div class="content">
        <p>{{content}}</p>
      </div>
    </article>
    {{/each}}
  {{!-- </li>
</ul> --}}


        
       